<div class="checkbox"
     ng-class="{'has-error': options.formField.$invalid}">
	<label>
		<input type="checkbox"
		       id="{{id}}"
		       formly-dynamic-name="options.key"
		       formly-custom-validation="options.validators"
		       aria-describedby="{{id}}_description"
		       ng-required="options.required"
		       ng-disabled="options.disabled"
		       ng-model="result[options.key || index]">
		{{options.label || 'Checkbox'}}
		{{options.required ? '*' : ''}}
	</label>
	<p id="{{id}}_description"
	   class="help-block"
	   ng-if="options.description">
		{{options.description}}
	</p>
    <ng-messages for="options.formField.$error" ng-if="options.formField.$dirty || options.formField.$submitted">
        <ng-message when="required">This field is required.</ng-message>        
    </ng-messages>
</div>