<div class="form-group"
     ng-class="{'has-error': options.formField.$invalid}">
	<label for="{{id}}">
		{{options.label || 'Text'}}
		{{options.required ? '*' : ''}}
	</label>
	<textarea type="text"
	          class="form-control"
	          id="{{id}}"
	          formly-dynamic-name="options.key"
	          formly-custom-validation="options.validators"
	          rows="{{options.lines}}"
	          placeholder="{{options.placeholder}}"
	          aria-describedby="{{id}}_description"
	          ng-required="options.required"
              ng-minlength="{{options.minlength}}"
              ng-maxlength="{{options.maxlength}}"
              ng-pattern="{{options.pattern}}"
	          ng-disabled="options.disabled"
	          ng-model="result[options.key || index]">
	</textarea>
	<p id="{{id}}_description"
	   class="help-block"
	   ng-if="options.description">
		{{options.description}}
	</p>
    <ng-messages for="options.formField.$error" ng-if="options.formField.$dirty || options.formField.$submitted">
        <ng-message when="required">The text field is required.</ng-message>
        <ng-message when="pattern">The text field does not match the specified pattern [{{options.pattern}}].</ng-message>
        <ng-message when="minlength">The text entered must be greater than or equal to {{options.minlength}} characters.</ng-message>
        <ng-message when="maxlength">The text entered must be less than or equal to {{options.maxlength}} characters.</ng-message>
    </ng-messages>
</div>