
<div class="form-group" ng-class="{'has-error': options.formField.$invalid && options.formField.$dirty}">
	<label for="{{id}}">
		{{options.label || 'Number'}}
		{{options.required ? '*' : ''}}
	</label>
	<input type="number"
		   class="form-control"
		   id="{{id}}"
           formly-dynamic-name="options.key"
           formly-custom-validation="options.validators"
		   placeholder="{{options.placeholder}}"
		   aria-describedby="{{id}}_description"
		   ng-required="options.required"
		   ng-disabled="options.disabled"
		   min="{{options.min}}"
		   max="{{options.max}}"
		   ng-minlength="{{options.minlength}}"
		   ng-maxlength="{{options.maxlength}}"
		   ng-model="result[options.key || index]">
   <p id="{{id}}_description" class="help-block" ng-if="options.description">{{options.description}}</p>    
    <ng-messages for="options.formField.$error" ng-if="options.formField.$dirty || options.formField.$submitted">
        <ng-message when="number">This field must be a number.</ng-message>
        <ng-message when="required">This field is required.</ng-message>
        <ng-message when="minlength">The number entered is too short.</ng-message>
        <ng-message when="maxlength">The number entered is too long.</ng-message>
        <ng-message when="min">The number entered is too small.</ng-message>
        <ng-message when="max">The number entered is too large.</ng-message>
    </ng-messages>
</div>
