<div class="form-group"
     ng-class="{'has-error': options.formField.$invalid}">
	<label for="{{id}}">
		{{options.label || 'Email'}}
		{{options.required ? '*' : ''}}
	</label>
	<input type="email"
	       class="form-control"
	       id="{{id}}"
	       formly-dynamic-name="options.key"
	       formly-custom-validation="options.validators"
	       placeholder="{{options.placeholder}}"
	       aria-describedby="{{id}}_description"
	       ng-required="options.required"
	       ng-disabled="options.disabled"
           ng-minlength="{{options.minlength}}"
           ng-maxlength="{{options.maxlength}}"
           ng-pattern="{{options.pattern}}"
	       ng-model="result[options.key || index]">
	<p id="{{id}}_description" 
	   lass="help-block" 
	   ng-if="options.description">
		{{options.description}}
	</p>
    <ng-messages for="options.formField.$error" ng-if="options.formField.$dirty || options.formField.$submitted">
        <ng-message when="email">The email must be in format of abc@xyz.com.</ng-message>
        <ng-message when="required">The email field is required.</ng-message>
        <ng-message when="pattern">The email field does not match the specified pattern [{{options.pattern}}].</ng-message>
        <ng-message when="minlength">The email entered must be greater than or equal to {{options.minlength}} characters.</ng-message>
        <ng-message when="maxlength">The email entered must be less than or equal to {{options.maxlength}} characters.</ng-message>
    </ng-messages>
</div>